{% extends "base.html" %}
{% block title %} INICIO - NEGA {% endblock title %}

{% block content %}

{% if user.is_authenticated %}
    {% if error == 0 %}
    <h2 class="m-3">PAISES</h2>
    <div class="row p-4">
        {% for ciudad in ciudades %}
            <a class="card col-sm-3 p-3 btn btn-outline-primary" style="cursor: pointer;text-decoration: none;" href="{% url 'departamentos' ciudad.id %}">
                {{ciudad}}
            </a>
        {% endfor %}
    </div>
    {% else %}
    <div class="card mb-3" style="max-width: 540px;">
        <div class="card-body">
            <h5 class="card-title">No se pueden mostrar los datos...</h5>
            <p class="card-text">Todavía no hay datos para mostrar...</p>
        </div>
    </div>
    {% endif %}
{% else %}
    <div class="card m-3" style="max-width: 540px;">
        <div class="card-body">
            <h5 class="card-title">No se pueden mostrar los datos...</h5>
            <p class="card-text">Se necesita iniciar sesión para ver la información</p>
        </div>
    </div>
{% endif %}
    
    
{% endblock content %}

