{% extends 'base.html' %}

{% block zelda %}
<link rel="stylesheet" href="/static/vendor/fontawesome-free/css/all.min.css">
<!-- Bootstrap and adminLTE -->
<link rel="stylesheet" href="/static/vendor/adminlte/css/adminlte.min.css">
<!-- Google Font: Source Sans Pro -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
{% endblock zelda %}
    

{% block content %}
<div class="login-box">
    <div class="card">
        <div class="card-body">
            <p class="login-box-msg">¡Bienvenido!</p>
            <form method="post">{% csrf_token %} 
                <div class="input-group mb-3">
                    <input type="text" name="username" class="form-control" placeholder="Nombre de usuario" required="">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" name="password" class="form-control" placeholder="Contraseña" required="">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
    
    
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-outline-primary btn-block">
                            Iniciar sesión
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
    