<!--CREACIÓN DE ARCHIVO HTML5 BASE {STATIC}-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %}</title>
<!--ETIQUETA STATIC PARA LINK BOOTSTRAP-->
    <link type="text/css" href="{% static '/bootstrap/css/bootstrap.min.css' %}"  rel="stylesheet">   
     {% block zelda %}{% endblock zelda %}
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary shadow">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'inicio' %}">INICO</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              {% if user.is_authenticated %}
                <div class="dropdown" style="padding-right:70px;">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{user}}
                    </button>
                    <div class="dropdown-menu">
                    {% if user.is_superuser or user.is_staff %}
                    <a class="dropdown-item" href="/admin/">Administrador</a>
                    
                    {% endif %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a>
                    </div>
                </div>
                {% else %}
                <div class="dropdown" style="padding-right:70px;">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Cuenta
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'login' %}">Iniciar sesión</a>
                    </div>
                </div>
                {% endif %}

              <!--<li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Departamentos</a>
              </li>-->
            </ul>
          </div>
        </div>
      </nav>

        {% block content %}{% endblock content %}

    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    
</body>
</html>